version: '3.8'

services:
  # Base de Dados MySQL
  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: casino_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - casino-net

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - casino-net
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
    networks:
      - casino-net

networks:
  casino-net:
    driver: bridge

volumes:
  dbdata: